<!DOCTYPE html>
<html ng-app="ivrApp">
	<head>
		<meta charset="utf-8">
		<title>IVR Menu</title>
		<link rel="stylesheet" href="./bower_components/bootswatch-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="./assets/css/ivr.css">
		<script src="./bower_components/angular/angular.min.js"></script>
		<script src="./assets/js/ivr.js"></script>
	</head>
	<body class="container">

		<div ng-controller="IvrCtrl">

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="text-center">{{ menuName }}</h3>
				</div>
				<div class="panel-body col-md-offset-1">
					<div class="row" ng-repeat="menuBtn in currentMenuBtns.items track by $index">
						<div class="col-md-2">
							<button ng-click="showMenu($index)" class="btn btn-lg btn-primary">{{ (parentBtnName ? parentBtnName +'.' : '')+( $index + 1) }}</button>
						</div>
						<div class="col-md-10">
							<h4>{{ menuBtn.name }}</h4>
						</div>
					</div>

					<div class="row">
						<button ng-click="addMenu()" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></button>
						<button ng-click="removeMenu()" class="btn btn-lg btn-danger"><i class="fa fa-minus"></i></button>
						<button ng-click="prevMenu()" class="btn btn-lg btn-warning"><i class="fa fa-arrow-left"></i></button>
					</div>
				</div>
			</div>

		</div> <!-- end ivr controller -->

	</body>
</html>
